<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ block "title" . }}{{ end }} | Proboj</title>
    <link rel="stylesheet" href="/static/app.css">
</head>
<body class="bg-gray-900 text-white">
    <div class="w-full bg-center bg-cover flex items-center" style="background-image: url('/static/bg.jpg')">
        <div class="max-w-prose mx-auto p-8 my-8 md:my-24">
            <img src="/static/logo.png" alt=":PROBOJ" class="max-w-full mx-auto max-h-32">
        </div>
    </div>

    <div class="bg-gray-800 w-full flex items-center justify-center p-4 border-b border-gray-600">
        <a href="/" class="hover:bg-blue-700 py-0.5 px-2 rounded">Domov</a>
        <a href="/games" class="hover:bg-blue-700 py-0.5 px-2 rounded">Odohrané hry</a>
        <a href="/scores" class="hover:bg-blue-700 py-0.5 px-2 rounded">Skóre</a>
        <a href="/observer" class="hover:bg-blue-700 py-0.5 px-2 rounded">Observer</a>
        <a href="/management" class="hover:bg-amber-700 py-0.5 px-2 rounded">Družinková zóna</a>
    </div>

    {{ block "body" . }}{{ end }}
</body>
</html>
